# Using Python as a Calculator

Let's try some simple python commands

## Numbers

The interpreter acts as a simple calculator: you can type an expression at it and it will write the value. Expression syntax is straightforward: the operators `+`, `-`, `*` and `/` work just like in most other languages (for example, Pascal or C); parentheses (`()`) can be used for grouping.

In [63]:
2

2

In [64]:
2 + 2

4

In [65]:
50 - 5*6

20

In [66]:
(50-5)*6

270

In [67]:
8/5

1.6

In [68]:
8//5  # Floor division discards the fractional part

1

In [69]:
8%5  # The % operator return the remainder of the division

3

With Python, use `**` operator to calculate powers.

In [70]:
5 ** 2  # 5 squared

25

Use equal sign(=) to assign a value to variable like math variable.

In [71]:
width = 20
height = 10 - 2
width * height

160

If a variable is not defined (assigned a value), trying to use it will give you an error:

In [72]:
s   # Try to access an undefined variable

'Hello World'

In [73]:
print(5)
print(width)

5
20

## List

Python knows a number of _compound_ data types, used to group together other values. The most versatile is the [_list_](https://docs.python.org/3.5/library/stdtypes.html#typesseq-list), which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [77]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

List can be indexed, with the first item having index 0.

In [78]:
squares[0]

1

In [79]:
squares[1]

4

In [80]:
squares[-1]  # Last item

25

In [81]:
squares[-2]  # Second-last item

16

In addition to indexing, _slicing_ is also supported. While indexing is used to obtain individual item, slicing allows you to obtain sub-list:

Format of slicing: **begin:end:step_size**

In [82]:
squares[1:4]  # Get sub-list from the 1 to 4 with step size 1

[4, 9, 16]

In [83]:
squares[1:4:2]  # Get sub-list from 1 to 4 with step size 2

[4, 16]

In [84]:
squares[:4]  # from begining of the list to 4 with step size 1

[1, 4, 9, 16]

In [85]:
squares[1:]  # from 1 to the end of the list with step size 1

[4, 9, 16, 25]

In [86]:
squares[::2]  # from begining to the end with step size 2

[1, 9, 25]

You can replace the item in the list and add new items at the end of the list.

In [87]:
squares[1] = 10
squares

[1, 10, 9, 16, 25]

In [88]:
squares.append(11)
squares

[1, 10, 9, 16, 25, 11]

In [89]:
squares[1:3] = [12, 13, 14] 
squares

[1, 12, 13, 14, 16, 25, 11]

In [90]:
len(squares)  # calculate the number of item in the list

7

List support the *+* operation.

In [98]:
list1 = [1, 2]
list2 = [3, 4]

list3 = list1 + list2
list3

[1, 2, 3, 4]

## Strings

Besides numbers, Python can also manipulate strings, which can be expressed in several ways. They can be enclosed in single quotes (`'...'`) or double quotes (`"..."`) with the same result. `\` can be used to escape quotes:

In [74]:
'Hello World!'

'Hello World!'

In [75]:
'doesn\'t'

"doesn't"

In [105]:
s = 'Hello World'
s

'Hello World'

String also support indexing and slicing like list. You can see the string as a list of charaters.

In [103]:
s[1:]

'ello World'

In [104]:
s[-1]

'd'

In [106]:
s1 = 'Hello '
s2 = 'World!'

s3 = s1 + s2
s3

'Hello World!'

## Python Iteration

Like most languages, Python also has a *For-loop* which is most widely used method for iteration. It has a simple syntax:

for i in [Python Iterable]:
    expression(i)
    
Here "Python Iterable" can be a list or other advanced data structurs.

In [1]:
squares = [1, 4, 9, 16, 25]
for s in squares:
    print(s)

1
4
9
16
25

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
N = 8
fact = 1
for i in range(1, N+1):
    fact = fact * i
fact

40320

In [13]:
# For any i, we list the integer less than i
for i in range(5):
    print("i=", i)
    l = []
    for j in range(0,i):
        l.append(j)
    print(l)

i= 0
[]
i= 1
[0]
i= 2
[0, 1]
i= 3
[0, 1, 2]
i= 4
[0, 1, 2, 3]

## Bool Type

- Like most languages, Python also has bool Type: **True** and **False**.

In [14]:
True

True

In [15]:
False

False

- Use bool operators to create bool type

In [16]:
3 > 1

True

In [17]:
3 < 1

False

In [18]:
3 == 1

False

In [19]:
3 == 3

True

In [24]:
b = 3 > 4
b

False

- Other functions may also create bool type.

In [21]:
even_number = [2, 4, 6, 8, 10, 12]
even_number

[2, 4, 6, 8, 10, 12]

In [22]:
6 in even_number

True

In [23]:
3 in even_number

False

## Conditional Statement

- Conditional statement are used to execute code fragments based on a condition.
- The most commonly used construct is if-else and while statement

if [condition]:
    __execution if condition is True
else:
    __execution if condition is False
    
------------------------------------------------------------  
while [condition]:
     __execution if condition is True and goto while again

In [27]:
N = 10
if N%2 == 0:
    print('Even')
else:
    print('Odd')

Even

In [28]:
N = 9
if N%2 == 0:
    print('Even')
else:
    print('Odd')

Odd

In [29]:
N = 0
while N < 10:
    if N%2 == 0:
        print(N, 'is Even.')
    else:
        print(N, ' is Odd.')
    N = N+1

0 is Even.
1  is Odd.
2 is Even.
3  is Odd.
4 is Even.
5  is Odd.
6 is Even.
7  is Odd.
8 is Even.
9  is Odd.

## Function

Function is used to group operations. The basic structure of the function is

def name_of_function(var1, var2, ...):
    __operations in function
    return function_value

In [32]:
def isEven(N):
    if N%2 == 0:
        return True
    else:
        return False

In [33]:
isEven(10)

True

In [34]:
isEven(9)

False

In [35]:
def sum(l):
    s = 0
    for item in l:
        s = s + item
    return s

In [36]:
sum([1, 2, 3])

6

# Exercises

Please construct a function named productEven which imput a list of integers and return the product of the even numbers in the list.

For example:
pruductEven([2, 3, 8, 7]) gives 16

In [38]:
pruductEven([2, 3, 8, 7])

16